.wrapper {
  display: flex;
  gap: 30px;
  padding: 40px 30px 20px 30px;
}

.inner {
  border-radius: 4px;
  width: calc(100% - 457px + 90px);
  display: flex;
  flex-direction: column;
  padding: 45px 50px 10px 45px;
  color: var(--primary-light-color);
  border: 1px solid var(--primary-yellow-color);
  box-shadow: 4px 5px 21px 0px var(--primary-yellow-shadow);
}

.title {
  font-size: 31px;
  font-weight: 100;
  margin: 0 auto 31px;
}

.contactsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 12px #1b1c24, -5px -5px 12px #2d2e3a;
  border-radius: 4px;
  padding: 15px;
}

.cardInner {
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.contactName,
.contactNumber {
  display: flex;
  align-items: center;
}

.contactName {
  font-size: 18px;
  font-weight: 400;
}

.contactNumber {
  font-size: 15px;
  font-weight: 100;
}

.icon {
  width: 27px;
  height: 27px;
  margin-right: 13px;
}

.btn {
  display: inline-block;
  padding: 8px 23px;
  font-size: 12px;
  border-radius: 20px;
  color: var(--primary-light-color);
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  transition: all 300ms;
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  z-index: -2;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #d42020;
  border-radius: 20px;
  z-index: -1;
  transition: all 300ms;
}

.btn:hover {
  color: var(--black);
}

.btn:hover::before {
  width: 100%;
}

.text {
  margin-right: auto;
  font-size: 13px;
  opacity: 0.5;
}
