.header {
  display: flex;
  justify-content: center;
}

.backgroundImage {
  width: 445px;
  height: 400px;
  right: 0;
  opacity: 0.3;
  background-image: url('../../images/bg-image.png');
  background-size: cover;
  position: absolute;
  z-index: -1;
}
