.wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  width: 100%;
  padding: 5px 13px;
  padding: 15px;
  margin-bottom: 35px;
  outline: none;
  font-size: 14px;
  color: var(--primary-light-color);
  background-color: transparent;
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid var(--primary-light-color);
}

.input:hover,
.input:focus {
  border-bottom: 1px solid var(--primary-yellow-color);
}
